In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Case Study 1 - Sales Analysis.xlsx - Order Data.csv")
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Calendar,Month,Year
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,"261,96",2,0,"41,9136",8,November,2016
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...","731,94",3,0,"219,582",8,November,2016
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,"14,62",2,0,"6,8714",12,Juni,2016
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,"957,5775",5,"0,45","-383,031",11,Oktober,2015
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,"22,368",2,"0,2","2,5164",11,Oktober,2015

In [3]:
print(df.shape)
print(df.info())
print(df.isna().sum())
print("Duplicates:", df.duplicated().sum())

(9994, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   object
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   object
 19  Profit         9994 non-null   object
 20  Calendar       9994 non-null   int64
 21  Month          9994 non-null   object
 22  Year           9994 non-null   int64
dtypes: int64(4), object(19)
memory usage: 1.8+ MB
None
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Calendar         0
Month            0
Year             0
dtype: int64
Duplicates: 1

In [4]:
df = df.drop_duplicates()

In [5]:
for col in df.select_dtypes(include='object'):
    df[col] = df[col].str.strip()

In [6]:
date_cols = [col for col in df.columns if "date" in col.lower()]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [7]:
num_cols = ["Sales", "Profit", "Discount", "Quantity"]

for col in num_cols:
    df[col] = df[col].replace(",", ".", regex=True).astype(float)

In [8]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9993 non-null   object
 1   Order Date     9993 non-null   datetime64[ns]
 2   Ship Date      9993 non-null   datetime64[ns]
 3   Ship Mode      9993 non-null   object
 4   Customer ID    9993 non-null   object
 5   Customer Name  9993 non-null   object
 6   Segment        9993 non-null   object
 7   Country        9993 non-null   object
 8   City           9993 non-null   object
 9   State          9993 non-null   object
 10  Postal Code    9993 non-null   int64
 11  Region         9993 non-null   object
 12  Product ID     9993 non-null   object
 13  Category       9993 non-null   object
 14  Sub-Category   9993 non-null   object
 15  Product Name   9993 non-null   object
 16  Sales          9993 non-null   float64
 17  Quantity       9993 non-null   float64
 18  Discount       9993 non-null   float64
 19  Profit         9993 non-null   float64
 20  Calendar       9993 non-null   int64
 21  Month          9993 non-null   object
 22  Year           9993 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(14)
memory usage: 1.8+ MB

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Calendar,Month,Year
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,8,November,2016
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,8,November,2016
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,12,Juni,2016
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,11,Oktober,2015
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,11,Oktober,2015

In [9]:
df.to_csv("cleaned_sales_data.csv", index=False)